<%= simple_form_for([@tournament, @round, @duel], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :white_player, :label_method => lambda { |player| "#{player.given_name}" } %>
    <%= f.association :black_player, :label_method => lambda { |player| "#{player.given_name}" } %>
    <%= f.input :match_num %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', tournament_round_path(@tournament, @round), :class => "btn" %>
  </div>
<% end %>
