<%= simple_form_for([@tournament, @round, @duel], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% players = (@tournament.players - (@round.duels.reject { |d| d == @duel }.map { |r| r.black_player } + @round.duels.reject { |d| d == @duel }.map { |r| r.white_player })).sort! { |a, b| a.given_name <=> b.given_name } %>
    <%= f.association :white_player, :collection => players, :include_blank => false, :label_method => lambda { |player| "#{player.given_name}" } %>
    <%= f.association :black_player, :collection => players, :include_blank => false, :label_method => lambda { |player| "#{player.given_name}" } %>

    <% if @tournament.nil? and @duel.matches.empty? %>
    <%= f.input :matches_to_create, :as => :integer, :required => true %>
    <% else %>
    <%= f.hidden_field :matches_to_create, :value => @tournament.matches_per_duel %>
    <% end %>

    <%= f.input :result, :as => :select, :collection => ["1.0-0.0", "0.0-1.0", "0.5-0.5"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to "Back", :back, :class => "btn" %>
  </div>
<% end %>
