<%= simple_form_for([@tournament, @round, @duel], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :white_id, :collection => @tournament.players %>
    <%= f.input :black_id, :collection => @tournament.players %>
    <%= f.input :white_result %>
    <%= f.input :black_result %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
