<%= simple_form_for([:admin, @player]) do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :username %>
  <%= f.input :email, :as => :email %>
  <%= f.input :show_email %>
  <%= f.input :password, :as => :password %>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn" %>
    <%= link_to "Back", :back, :class => "btn" %>
  </div>
<% end %>
