<h1>Listing Players</h1>

<hr>

<table class="table">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Name</th>
    <th>Confirmed?</th>
    <th>Show email?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.username %></td>
    <td><%= player.email %></td>
    <td><%= player.name %></td>
    <td><%= player.confirmed? %></td>
    <td><%= player.show_email %></td>
    <td><%= link_to 'Show', admin_player_path(player) %></td>
    <td><%= link_to 'Edit', edit_admin_player_path(player) %></td>
    <td><%= link_to 'Destroy', admin_player_path(player), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="form-actions">
  <%= link_to 'New Player', new_admin_player_path, :class => "btn btn-primary" %>
</div>
