<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <legend>Resend unlock instructions</legend>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <%= f.input :email %>

  <div class="form-actions">
    <%= f.button :submit, "Resend unlock instructions", :class => "btn-primary" %>
  </div>
<% end %>

<%= render "links" %>
