<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <legend>Change your password</legend>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.input :password, :as => :password %>>
  <%= f.input :password_confirmation, :as => :password %></div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password", :class => "btn-primary" %>
  </div>
<% end %>

<%= render "links" %>
