<%= simple_form_for(@tournament) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date_started, :as => :string, :input_html => { :value => Time.now.strftime("%d-%m-%Y") } %>
    <%= f.input :date_finished, :as => :string, :input_html => { :value => Time.now.strftime("%d-%m-%Y") } %>
    <%= f.input :status %>
    <%= f.input :admin_id, :collection => Player.all %>
  </div>

  <script>
    $('#tournament_date_started').datepicker({
      format: 'dd-mm-yyyy'
    })
    $('#tournament_date_finished').datepicker({
      format: 'dd-mm-yyyy'
    })
  </script>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
