<%= simple_form_for(@tournament) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <%= f.input :matches_per_duel %>

    <%= f.input :date_started, :as => :string, :input_html => { :value => (
      if @tournament.date_started != nil then
        @tournament.date_started.strftime("%d-%m-%Y")
      else
        Time.now.strftime("%d-%m-%Y")
      end )} %>

    <% if !@tournament.new_record? %>

    <%= f.input :date_finished, :as => :string, :input_html => { :value => (
      if @tournament.date_finished != nil then
        @tournament.date_finished.strftime("%d-%m-%Y")
      else
        Time.now.strftime("%d-%m-%Y")
      end )} %>

    <%= f.input :status, :default => 0, :collection => Tournament::STATUSES %>

    <% end %>


    <% if current_player.admin? %>
    <%= f.input :admin_id, :collection => Player.all.map { |p| [p.given_name, p.id] }.sort! { |a, b| a.first.upcase <=> b.first.upcase }, :include_blank => false %>
    <% else %>
    <%= f.hidden_field :admin_id, :value => current_player.id %>
    <% end %>
  </div>

  <script>
    $('#tournament_date_started').datepicker({
      format: 'dd-mm-yyyy'
    })
    $('#tournament_date_finished').datepicker({
      format: 'dd-mm-yyyy'
    })
  </script>

  <div class="form-actions">
    <%= f.button :submit %>

    <%= link_to "Back", :back, :class => "btn" %>
  </div>
<% end %>
