<div class="row">
  <div class="span12">
  </div>
  <div class="span6">
    <h2>Details</h2>
    <table class="table">
      <tbody>
        <tr>
          <td><b>Name</b></td>
          <td><%= @tournament.name %></td>
        </tr>
        <tr>
          <td><b>Date started</b></td>
          <td><%= @tournament.date_started %></td>
        </tr>
        <tr>
          <td><b>Status</b></td>
          <td><%= @tournament.status %></td>
        </tr>
        <tr>
          <td><b>Matches per Duel</b></td>
          <td><%= @tournament.matches_per_duel %></td>
        </tr>
        <tr>
          <td><b>Admin</b></td>
          <td><%= link_to @tournament.admin.given_name, profile_path(@tournament.admin.username) %></td>
        </tr>
      </tbody>
    </table>

    <% if @tournament.status == 'Open' and @tournament.rounds.empty?%>
    <hr>
    <div style="margin-bottom:45px;">
    <% if @tournament.players.include?(current_player) %>
    <!-- this is one of the ugliest things I've ever seen, seconded perhaps only by your momma.. -->

      <%= link_to participation_path(TournamentPlayer.find(current_player.tournament_players(:tournament_id => @tournament.id).first.id)),
        confirm: 'Are you sure?', method: :delete, :class => "btn btn-warning pull-right" do %>
        <i class="icon-white icon-remove-sign"></i>
        Withdraw from this tournament
      <% end %>

    <% else %>

      <%= form_for TournamentPlayer.new, :url => participations_path do |f| %>
        <%= f.hidden_field :tournament_id, :value => @tournament.id %>
        <%= f.hidden_field :player_id, :value => current_player.id %>
        <button type="submit" class="btn btn-success pull-right">
          <i class="icon-white icon-ok-sign"></i>
          Sign up for this tournament
        </button>
      <% end %>

    <% end %>
    </div>
    <% end %>
  </div>

  <div class="span6">
    <% if @latest_standings %>
    <h2>Standings overview</h2>
    <div id="standings">
      <%= render("standings") %>
    </div>
    <% else %>
    <h2>Signed up players</h2>
    <% if @tournament.players.empty? %>
    <p class="alert alert-block alert-info">
      There are no players signed up for this tournament yet.
    </p>
    <% else %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>e-mail</th>
        <th>Rating</th>
      </tr>
        <% @tournament.players.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.email %></td>
        <td><%= p.ratings.last.value %></td>
      </tr>
        <% end %>
    </table>
    <% end %>
  <% end %>
  </div>

</div>
