<h1>Editing Tournament</h1>

<hr>

<%= render 'form' %>

<h2>Players</h2>
<p>Use this to "volunteer" players into joining this tournament. (perhaps in a new tab?)</p>

<div class="row">
  <div id="span12">
    <table class="table">
      <tr>
        <th>Player name</th>
        <th>Player email</th>
        <th></th>
      </tr>

      <% @tournament.players.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.email %></td>
          <td>
            <%= link_to participation_path(TournamentPlayer.find(p.tournament_players(:tournament_id => @tournament.id).first.id)),
              confirm: 'Are you sure?', method: :delete, :class => "btn btn-warning" do %>
              <i class="icon-white icon-remove-sign"></i>
              Remove from competition
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= form_for TournamentPlayer.new, :url => participations_path do |f| %>
  <%= f.hidden_field :tournament_id, :value => @tournament.id %>
  <%= f.select :player_id, (Player.all - @tournament.players).map{ |p| [p.name, p.id] } %>
  <button type="submit" class="btn btn-success">
    <i class="icon-white icon-ok-sign"></i>
    Sign up for this tournament
  </button>
<% end %>

<%= link_to 'Show', @tournament, :class => "btn btn-primary" %>
<%= link_to 'Back', tournaments_path, :class => "btn btn-danger" %>
