<h1>Listing Tournaments</h1>

<hr>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Date started</th>
    <th>Date finished</th>
    <th>Status</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= tournament.name %></td>
    <td><%= tournament.date_started %></td>
    <td><%= tournament.date_finished %></td>
    <td><%= tournament.status %></td>
    <td><%= tournament.admin.name %></td>
    <td><%= link_to 'Show', tournament %></td>
    <td>
      <% if can? :manage, tournament %>
        <%= link_to 'Edit', edit_tournament_path(tournament) %>
      <% end %>
    </td>
    <td>
      <% if can? :manage, tournament %>
        <%= link_to 'Destroy', tournament, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<div class="form-actions">
  <%= link_to 'New Tournament', new_tournament_path, :class => "btn btn-primary" %>
</div>
