<div class="page-header">
  <h1><%= @tournament.name %></h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tournament-tab-overview" data-toggle="tab">
        Overview
      </a>
    </li>
    <li>
      <a href="#tournament-tab-standings" data-toggle="tab">
        Standings
      </a>
    </li>
    <li>
      <a href="#tournament-tab-rounds" data-toggle="tab">
        Rounds
      </a>
    </li>
    <li>
      <a href="#tournament-tab-admin" data-toggle="tab">
        <i class="icon icon-cog"></i>
        Admin
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tournament-tab-overview">
      <%= render 'overview' %>
    </div>

    <div class="tab-pane" id="tournament-tab-standings">
      <%= render 'standings' %>
    </div>

    <div class="tab-pane" id="tournament-tab-rounds">
      <%= render 'rounds' %>
    </div>

    <div class="tab-pane" id="tournament-tab-admin">
      <%= render 'admin' %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to 'Edit', edit_tournament_path(@tournament), :class => "btn" %>
  <%= link_to 'Back', tournaments_path, :class => "btn" %>
</div>
