<%= simple_form_for([@tournament, @round, @standing]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :position %>
      <%= f.input :points %>
      <%= f.input :player_id, :collection => Player.all %>
      <%= f.hidden_field :round_id, :value => @current_round %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to "Back", :back, :class => "btn" %>
    </div>
<% end %>
