<% if player_signed_in? %>
    <h1>Dashboard</h1>

    <hr>

    <% if @rankings %>
    <div class="row">
      <% pos = 1 %>
      <div class="span12">
        <h2>Top Players</h2>
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Games</th>
          </tr>
          <% @rankings.each do |rating| %>
          <tr>
            <td><%= pos %></td>
            <% pos += 1 %>
            <td><%= rating.player.name %></td>
            <td>
              <%= rating.value %>
              <% if rating.previous %>
              <% val = rating.value - rating.previous.value %>
              (<% if val >= 0 %><%= '+' %><% end %><%= rating.value - rating.previous.value %>)
              <% end %>
            </td>
            <td>
              <%= rating.player.matches.length %>
              (<%= rating.player.matches_won.length.to_s + ' W / ' +
                   rating.player.matches_lost.length.to_s + ' L / ' +
                   rating.player.matches_drawn.length.to_s + ' D' %>)
            </td>
          </tr>
          <% end %>
        </table>
        <%= link_to "See complete ranking", ratings_path %>
      </div>
    </div>

    <hr>
    <% end %>

    <div class="row">
      <div class="span8">
        <div id="container"></div>
        <script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'container',
            type: 'line'
         },
         title: {
            text: 'Rating evolution'
         },
         xAxis: {
            categories: [
              <% @ratings.each do |rating| %>
              <%= '\'' + rating.date.to_date.to_s + '\', ' %>
              <% end %>
            ]
         },
         yAxis: {
            title: {
               text: 'Rating value'
            }
         },
         series: [{
            name: 'Rating',
            data: [
              <% @ratings.each do |rating| %>
              <%= rating.value.to_s + ', ' %>
              <% end %>
            ]
         }]
      });
   });
        </script>

      </div>

      <div class="span4">
        <div class="well">
          <h6>Statistics</h6>
          <table class="table">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2"><b>Rating</b></td>
                <td>min</td>
                <td><%= min_rating(@ratings) %></td>
              </tr>
              <tr>
                <td>max</td>
                <td><%= max_rating(@ratings) %></td>
              </tr>
              <tr>
                <td rowspan="2"><b>Streaks</b></td>
                <td>winning</td>
                <td><%= @player.streak_winning %></td>
              </tr>
              <tr>
                <td>losing</td>
                <td><%= @player.streak_losing %></td>
              </tr>
              <tr>
                <td rowspan="2"><b>Wins</b></td>
                <td>strongest</td>
                <td><%= @player.wins_strongest %></td>
              </tr>
              <tr>
                <td>weakest</td>
                <td><%= @player.wins_weakest %></td>
              </tr>
              <tr>
                <td rowspan="3"><b>Matches</b></td>
                <td>won</td>
                <td><%= @player.matches_won.count %></td>
              </tr>
              <tr>
                <td>lost</td>
                <td><%= @player.matches_lost.count %></td>
              </tr>
              <tr>
                <td>draw</td>
                <td><%= @player.matches_drawn.count %></td>
              </tr>
            </tbody>
          </table>
          <a href="#">Go to your rating</a>
          <a class="pull-right" href="#">See your last games</a>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span4">
        <div class="well">
          <h6>Tournament Stats</h6>
          <table class="table">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2"><b>Played</b></td>
                <td>won</td>
                <td>0</td>
              </tr>
              <tr>
                <td>total</td>
                <td><% @player.tournaments.count %></td>
              </tr>
              <tr>
                <td rowspan="3"><b>Standings</b></td>
                <td>best</td>
                <td>0</td>
              </tr>
              <tr>
                <td>worst</td>
                <td>0</td>
              </tr>
              <tr>
                <td>latest</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Available tournaments", tournaments_path %>
          <%= link_to "New tournament", new_tournament_path, :class => "pull-right" %>
        </div>
      </div>

      <div class="span8">
        <h3>Ongoing Tournaments</h3>

        <hr>
        <% if @tournaments.empty? %>
        <p class="alert alert-info">You are not in any ongoing tournaments. Why don't you join some?</p>
        <% else %>
        <div class="accordion" id="tournament-accordion">
          <% @tournaments.each_with_index do |tournament, i| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#tournament-accordion" href="#collapse<%= i %>"><%= tournament.name %></a>
            </div>
            <div id="collapse<%= i %>" class="accordion-body collapse <%= 'in' if i == 0 %>">
              <div class="accordion-inner">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th><span class="pull-right">White</span></th>
                      <th></th>
                      <th></th>
                      <th>Black</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% round = tournament.rounds.max_by {|r| r.tournament_round_id} %>
                    <% if round %>
                    <% round.matches.each do |match| %>
                    <tr>
                      <td><span class="pull-right"><%= match.white_player.name %></span></td>
                      <td><span class="pull-right"><%= match.white_result %></span></td>
                      <td><%= match.black_result %></td>
                      <td><%= match.black_player.name %></td>
                      <td><%= link_to "View", tournament_round_match_path(tournament, round, match) %></td>
                    </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
                <div class="row">
                  <div class="span3">
                    <%= link_to "View tournament", tournament_path(tournament) %>
                    <% if round %>
                    <%= link_to "View round", tournament_round_path(tournament, round), :class => "pull-right" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>
<% else %>
<div class="hero-unit">
  <!-- Chess board photo from: http://www.flickr.com/photos/eivindw/4873333202/ -->
  <img class="thumbnail span3" style="margin-right:20px;" src="img/board_small.jpg" style="margin-right:15px;" />
  <h1>Pawned</h1>
  <p>Also known as “<a>I can’t believe it’s not an online chess club manager</a>”.</p><br/>

  <h2>Welcome</h2>
  <p>Get your chess skills to exciting new hights. We're here to help you manage your climb to the top!</p>
</div>

<div class="row">
  <div class="span4">
    <h2>Sign in here</h2>
    <%= form_tag(player_session_path, class: "well", id: "signin-form") do %>
      <div><%= text_field_tag('player[email]', '', class: "input-small span3", placeholder: "Your e-mail goes here...") %></div>
      <div>
        <%= password_field_tag('player[password]', '', class: "input-small span2", placeholder: "Your password, here.") %>
        <button type="submit" class="btn btn-success" style="margin: 0 10px 9px;" >Submit</button>
      </div>
      <label class="checkbox"><%= check_box_tag('player[remember_me]', '', false, class: "checkbox") %> Remember me</label>
     <%= link_to "Forgot your password?", new_password_path('player') %>
    <% end %>
  </div>

  <div class="span4">
    <h2>Free and Open</h2>
    <p>Pawned is an open-source community project. We are always waiting for enthusiastic new people to help out. Are going to miss this chance? Get your paws on the code now!</p>
    <p><a class="btn btn-primary" href="https://github.com/jcazevedo/pawned">Check source on github</a></p>
  </div>

  <div class="span4">
    <h2>New to Pawned?</h2>
    <%= form_tag(player_registration_path, class: "well", id: "signin-form") do %>
      <div><%= text_field_tag('player[name]', '', class: "input-small span3", placeholder: "Tell us your name") %></div>
      <div><%= text_field_tag('player[email]', '', class: "input-small span3", placeholder: "Your e-mail goes here...") %></div>
      <%= password_field_tag('player[password]', '', class: "input-small span2", placeholder: "Your password, here.") %>
      <button type="submit" class="btn btn-danger" style="margin: 0 10px 9px;">Submit</button>
    <% end %>
  </div>

</div>
<% end %>

