<% if player_signed_in? %>
    <div class="row">
      <div class="span6">
        <div id="container"></div>
        <script type="text/javascript">
        var chart1; // globally available
        $(document).ready(function() {
              chart1 = new Highcharts.Chart({
                 chart: {
                    renderTo: 'container',
                    type: 'line'
                 },
                 title: {
                    text: 'Rating evolution'
                 },
                 xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                            month: '%e. %b',
                            year: '%b'
                    }
                 },
                 yAxis: {
                    title: {
                       text: 'Rating value'
                    }
                 },
                 series: [{
                    name: 'Rating',
                    data: [
                      <% @ratings.each do |rating| %>
                        <%= '[' + (rating.date.to_time.to_i * 1000).to_s(10) + ', ' + rating.value.to_s + '],' %>
                      <% end %>
                    ]
                 }]
              });
           });
        </script>

      </div>

      <div class="span3">
        <h6>Statistics</h6>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td rowspan="3"><b>Rating</b></td>
              <td>min</td>
              <td><%= @ratings.min || 0 %></td>
            </tr>
            <tr>
              <td>max</td>
              <td><%= @ratings.max || 0 %></td>
            </tr>
            <tr>
              <td>percentile</td>
              <td>1</td>
            </tr>
            <tr>
              <td rowspan="2"><b>Streaks</b></td>
              <td>winning</td>
              <td>0</td>
            </tr>
            <tr>
              <td>losing</td>
              <td>0</td>
            </tr>
            <tr>
              <td rowspan="2"><b>Opponents</b></td>
              <td>strongest</td>
              <td>0</td>
            </tr>
            <tr>
              <td>weakest</td>
              <td>0</td>
            </tr>
            <tr>
              <td rowspan="2"><b>Tournaments</b></td>
              <td>wins</td>
              <td>0</td>
            </tr>
            <tr>
              <td>total</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="span4">
          <a class="btn btn-success pull-right" href="#">See your last games</a>
        </div>

        <div class="span4 offset1">
          <a class="btn btn-danger" href="#">Go to your ranking</a>
        </div>

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span3">
        <h3>Ongoing tournaments</h3>
        <br/>
        <ul>
          <% @tournaments.each do |tournament| %>
            <li><%= link_to tournament.name, tournament_path(tournament.id) %></li>
          <% end %>
        </ul>

        <hr>

        <a class="btn btn-primary" href="#">Tournament manager</a>
      </div>

      <div class="span6">
        <h3>Latest Round Results of <a>Big-ass tournament</a></h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><span class="pull-right">White</span></th>
              <th></th>
              <th></th>
              <th>Black</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="pull-right">Pedro Saleiro<span></td>
              <td><span class="pull-right">0</span></td>
              <td>1</td>
              <td>Luís Carvalho</th>
            </tr>
            <tr>
              <td><span class="pull-right">Filipe Sousa<span></td>
              <td><span class="pull-right">0</span></td>
              <td>1</td>
              <td>João Azevedo</th>
            </tr>
            <tr>
              <td><span class="pull-right">David Ribeiro<span></td>
              <td><span class="pull-right">1</span></td>
              <td>0</td>
              <td>Manuel Silva</th>
            </tr>
            <tr>
              <td><span class="pull-right">Rui Castro<span></td>
              <td><span class="pull-right">1</span></td>
              <td>0</td>
              <td>Pedro Coelho</th>
            </tr>
          </tbody>
        </table>

        <hr>

        <a class="btn btn-primary" href="#">Tournament manager</a>
      </div>
    </div>
<% else %>
<div class="hero-unit">
  <!-- Chess board photo from: http://www.flickr.com/photos/eivindw/4873333202/ -->
  <img class="thumbnail span3" style="margin-right:20px;" src="img/board_small.jpg" style="margin-right:15px;" />
  <h1>Pawned</h1>
  <p>Also known as “<a>I can’t believe it’s not an online chess club manager</a>”.</p><br/>

  <h2>Welcome</h2>
  <p>Get your chess skills to exciting new hights. We're here to help you manage your climb to the top!</p>
</div>

<div class="row">
  <div class="span4">
    <h2>Sign in here</h2>
    <%= form_tag(player_session_path, class: "well", id: "signin-form") do %>
      <div><%= text_field_tag('player[email]', '', class: "input-small span3", placeholder: "Your e-mail goes here...") %></div>
      <%= password_field_tag('player[password]', '', class: "input-small span2", placeholder: "Your password, here.") %>
      <button type="submit" class="btn btn-success" style="margin: 0 10px 9px;">Submit</button>
      <label class="checkbox"><%= check_box_tag('player[remember_me]', '', false, class: "checkbox") %> Remember me</label>
     <%= link_to "Forgot your password?", new_password_path('player') %>
    <% end %>
  </div>

  <div class="span4">
    <h2>Free and Open</h2>
    <p>Pawned is an open-source community project. We are always waiting for enthusiastic new people to help out. Are going to miss this chance? Get your paws on the code now!</p>
    <p><a class="btn btn-primary" href="https://github.com/jcazevedo/pawned">Check source on github</a></p>
  </div>

  <div class="span4">
    <h2>New to Pawned?</h2>
    <%= form_tag(player_registration_path, class: "well", id: "signin-form") do %>
      <div><%= text_field_tag('player[name]', '', class: "input-small span3", placeholder: "Tell us your name") %></div>
      <div><%= text_field_tag('player[email]', '', class: "input-small span3", placeholder: "Your e-mail goes here...") %></div>
      <%= password_field_tag('player[password]', '', class: "input-small span2", placeholder: "Your password, here.") %>
      <button type="submit" class="btn btn-danger" style="margin: 0 10px 9px;">Submit</button>
    <% end %>
  </div>

</div>
<% end %>
