<h1>Listing tournament_players</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Tournament</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournament_players.each do |tournament_player| %>
  <tr>
    <td><%= tournament_player.player_id %></td>
    <td><%= tournament_player.tournament_id %></td>
    <td><%= link_to 'Show', tournament_player %></td>
    <td><%= link_to 'Edit', edit_tournament_player_path(tournament_player) %></td>
    <td><%= link_to 'Destroy', tournament_player, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament player', new_tournament_player_path %>
