<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_inserted %>
    <%= f.input :date_played %>
    <%= f.association :white_player %>
    <%= f.association :black_player %>
    <%= f.input :result, :as => :select, :collection => ["", "1-0", "0-1", "0.5-0.5"], :selected => "" %>
    <%= f.input :round_id %>
    <%= f.input :png_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
