<%= simple_form_for([@tournament, @round, @duel, @match], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <% if @match.reverse_positions %>
  <% @white_player_name = @duel.black_player.given_name %>
  <% @black_player_name = @duel.white_player.given_name %>
  <% else %>
  <% @white_player_name = @duel.white_player.given_name %>
  <% @black_player_name = @duel.black_player.given_name %>
  <% end %>

  <div class="control-group optional">
    <label class="control-label">
      &#9817;
    </label>
    <div class="controls">
      <input type="text"
             id="white_player_name"
             value="<%= @white_player_name %>"
             disabled="disabled" />
    </div>
  </div>

  <div class="control-group optional">
    <label class="control-label">
      &#9823;
    </label>
    <div class="controls">
      <input type="text"
             id="black_player_name"
             value="<%= @black_player_name %>"
             disabled="disabled" />
    </div>
  </div>

  <%= f.input :reverse_positions %>

  <%= f.input :date, :as => :string, :input_html => { :value => (
      if @match.date != nil then
        @match.date.strftime("%d-%m-%Y")
      else
        Time.now.strftime("%d-%m-%Y")
      end )} %>
  <%= f.input :time_played, :as => :time %>

  <%= f.input :result, :as => :select, :collection => ["1.0-0.0", "0.0-1.0", "0.5-0.5"] %>
  <%= f.input :pgn_text %>

  <script>
    $('#match_date').datepicker({
      format: 'dd-mm-yyyy'
    })
    $('#match_date').change(function () {
      if (this.value == "") {
         $('#match_time_played_4i').attr("disabled", "disabled");
         $('#match_time_played_5i').attr("disabled", "disabled");
         $('#match_result').attr("disabled", "disabled");
      } else {
         $('#match_time_played_4i').removeAttr("disabled");
         $('#match_time_played_5i').removeAttr("disabled");
         $('#match_result').removeAttr("disabled");
      }
    })
    $('#match_reverse_positions').change(function () {
      var white_player_name = $('#white_player_name').val();
      var black_player_name = $('#black_player_name').val();

      $('#white_player_name').val(black_player_name);
      $('#black_player_name').val(white_player_name);
    })
  </script>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to "Back", :back, :class => "btn" %>
  </div>
<% end %>
