<%= simple_form_for([@tournament, @round, @match]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_inserted %>
    <%= f.input :date_played %>
    <%= f.input :white_player do %>
      <%= f.select :white_id, @tournament.players.all.map { |r| [r.name, r.id] }, :include_blank => true %>
    <% end %>
    <%= f.input :black_player do %>
      <%= f.select :black_id, @tournament.players.all.map { |r| [r.name, r.id] }, :include_blank => true %>
    <% end %>
    <%= f.input :result, :as => :select, :collection => ["1.0-0.0", "0.0-1.0", "0.5-0.5"] %>
    <%= f.input :round_id %>
    <%= f.input :png_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
