<p id="notice"><%= notice %></p>

<p>
  <b>Date inserted:</b>
  <%= @match.date_inserted %>
</p>

<p>
  <b>Date played:</b>
  <%= @match.date_played %>
</p>

<p>
  <b>White:</b>
  <%= @match.white_id %>
</p>

<p>
  <b>Black:</b>
  <%= @match.black_id %>
</p>

<p>
  <b>White result:</b>
  <%= @match.white_result %>
</p>

<p>
  <b>Black result:</b>
  <%= @match.black_result %>
</p>

<p>
  <b>Round:</b>
  <%= @match.round_id %>
</p>

<p>
  <b>Pgn text:</b>
  <%= @match.pgn_text %>
</p>


<% if can? :manage, @tournament %>
  <%= link_to 'Edit', edit_tournament_round_duel_match_path(@tournament, @round, @match) %> |
<% end %>
<%= link_to 'Back', tournament_round_duel_path(@tournament, @round, @duel) %>
