<!DOCTYPE html>
<html>
<head>
  <title>Pawned</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if player_signed_in? %>
<body style="padding-top: 60px">
<% else %>
<body style="padding-top: 30px">
<% end %>

  <% if player_signed_in? %>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Pawned", root_path, class: "brand" %>

            <ul class="nav">

              <li class="<%= current_controller('home') %>"><a href="/">Home</a></li>

              <li class="<%= current_controller('ratings') %>">
                <%= link_to "Live Ranking", ratings_path %>
              </li>

              <li class="dropdown <%= current_controller('tournaments') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tournaments <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                  <%= link_to(player_tournaments_path(current_player)) do %>
                    Your Tournaments
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(open_tournaments_path()) do %>
                    Open Tournaments
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(ongoing_tournaments_path()) do %>
                    Ongoing Tournaments
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(tournaments_path()) do %>
                    All Tournaments
                  <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                  <%= link_to(new_tournament_path()) do %>
                    Create Tournament
                  <% end %>
                  </li>
                </ul>
              </li>

            </ul>

            <ul class="nav pull-right">
              <li class="dropdown <%= current_controller('help') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" onclick="showModal('help');"><i class="icon-exclamation-sign"></i> Get online help</a></li>
                  <li><a href="javascript:void(0)" onclick="showModal('faq');"><i class="icon-question-sign"></i> F.A.Q.</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="showModal('about');"><i class="icon-info-sign"></i> About</a></li>
                </ul>
              </li>

              <% if current_player.admin? %>
              <li class="dropdown <%= current_controller('admin') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                  <%= link_to(admin_players_path()) do %>
                    <i class="icon-list-alt"></i>
                    Players
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(new_admin_player_path()) do %>
                    <i class="icon-user"></i>
                    Create Player
                  <% end %>
                  </li>
                </ul>
              </li>
              <% end %>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_player.given_name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                  <%= link_to(profile_path) do %>
                    <i class="icon-picture"></i>
                    View Profile
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(edit_player_registration_path) do %>
                    <i class="icon-pencil"></i>
                    Settings
                  <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                  <%= link_to(destroy_player_session_path, method: :delete) do %>
                    <i class="icon-off"></i>
                    Logout
                  <% end %>
                  </li>
                </ul>
              </li>

            </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container">
    <% if notice %>
    <div class="alert alert-block alert-success">
      <a class="close" data-dismiss="alert">×</a>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-block alert-danger">
      <a class="close" data-dismiss="alert">×</a>
      <%= alert %>
    </div>
    <% end %>

    <%= yield %>

    <% if player_signed_in? %>
    <hr>

    <footer>
      &copy; Pawned 2012
    </footer>
    <% end %>

  </div>

  <% if player_signed_in? %>
  <div class="modal fade" id="myModal"></div>
  <script>
    function showModal(page) {
    $.get("/" + page + ".html", function(data){
      $('#myModal').html(data);
      $('#myModal').modal();
    });
    }
  </script>
  <% end %>
</body>
</html>
