<!DOCTYPE html>
<html>
<head>
  <title>Pawned</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Pawned", root_path, class: "brand" %>
          <% if player_signed_in? %>
            <div class="navbar-btn btn-group pull-right">
              <%= link_to(admin_player_path(current_player.id), class: "btn btn-primary") do %>
                <%= current_player.email %>
              <% end %>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
                <li class="divider"></li>
                <li>
                <%= link_to(destroy_player_session_path, method: :delete) do %>
                  <i class="icon-off"></i>
                  Logout
                <% end %>
                </li>
              </ul>
            </div>
          <% else %>
            <%= form_tag(player_session_path, class: "navbar-form pull-right", id: "signin-form") do %>
              <%= text_field_tag('player[email]', '', class: "input-small span3", placeholder: "Email") %>
              <%= password_field_tag('player[password]', '', class: "input-small", placeholder: "Password") %>
              <button type="submit" class="btn">Sign in</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
