<!DOCTYPE html>
<html>
<head>
  <title>Pawned</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Pawned", root_path, class: "brand" %>
          <% if player_signed_in? %>
            <ul class="nav">

              <li class="<%= current_controller('home') %>"><a href="/">Home</a></li>

              <li class="dropdown <%= current_controller('standings') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Standings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Global Standings</a></li>
                </ul>
              </li>

              <li class="dropdown <%= current_controller('tournaments') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tournaments <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Your Tournaments</a></li>
                  <li><a href="#">Active Tournaments</a></li>
                  <li>
                  <%= link_to(tournaments_path()) do %>
                    All Tournaments
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(new_tournament_path()) do %>
                    Create Tournament
                  <% end %>
                  </li>
                </ul>
              </li>

              <li class="dropdown <%= current_controller('matches') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Matches <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Match Calendar</a></li>
                  <li><a href="#">Your Latest Matches</a></li>
                  <li>
                  <%= link_to(new_match_path()) do %>
                    Schedule Match
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(matches_path()) do %>
                    All Matches
                  <% end %>
                  </li>
                </ul>
              </li>

            </ul>

            <ul class="nav pull-right">
              <li class="dropdown <%= current_controller('admin') %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                  <%= link_to(admin_players_path()) do %>
                    Players
                  <% end %>
                  </li>
                  <li>
                  <%= link_to(new_admin_player_path()) do %>
                    Create Player
                  <% end %>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_player.name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                  <%= link_to(edit_admin_player_path(current_player.id)) do %>
                    <i class="icon-pencil"></i>
                    Settings
                  <% end %>
                  </li>
                  <li><a href="#"><i class="icon-trash"></i> Some Option</a></li>
                  <li><a href="#"><i class="icon-ban-circle"></i> Other Option</a></li>
                  <li class="divider"></li>
                  <li>
                  <%= link_to(destroy_player_session_path, method: :delete) do %>
                    <i class="icon-off"></i>
                    Logout
                  <% end %>
                  </li>
                </ul>
              </li>

            </ul>
          <% end %>
        </div>
      </div>
    </div>

  <div class="container">
    <% if player_signed_in? %>
    <div class="row">
      <div class="span3">
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <strong>Achtung!</strong> This box is red, so check it out carefully.
        </div>
        <div class="alert">
          <a class="close" data-dismiss="alert">×</a>
          <strong>New message!</strong> You have a new message from :orig_player.name
        </div>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">×</a>
          <strong>Oh, hi!</strong> I just passed by to say hello.
        </div>

        <hr>

        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'chess',
          rpp: 10,
          interval: 5000,
          title: 'Some of the world\'s',
          subject: 'Chess Titans',
          width: 'auto',
          height: 300,
          theme: {
            shell: {
              background: '#0074cc',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#0088cc'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            behavior: 'default'
          }
        }).render().start();
        </script>
      </div>

      <div class="span9">
          <%= yield %>
      </div>
    </div>

    <% else %>
      <%= yield %>
    <% end %>

    <hr>

    <footer>
      &copy; Pawnage Software 2012
      <!-- Social icons by: http://www.elegantthemes.com/blog/resources/free-social-media-icon-set -->
      <a><img src="/img/facebook.png" class="pull-right" /></a>
      <a><img src="/img/twitter.png" class="pull-right" /></a>
      <a><img src="/img/google.png" class="pull-right" /></a>
    </footer>

  </div>

</body>
</html>
